<%- include ('../partials/header'); %>

    <!-- <%= ContactList %> -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <a href="/contactList/add_edit" class="btn btn-primary align-self-end" role="button">                
                <i class="fa-solid fa-square-plus"></i>
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email Address</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->
                <!-- Attributes from model folder -->

                <% for(let i = 0; i < ContactList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[i].Contact_Name %></td>
                        <td class="text-center"><%= ContactList[i].Contact_Number %></td>
                        <td class="text-center"><%= ContactList[i].Email_Address %></td>
                        <td class="text-center">
                            <a href="/contactList/add_edit/<%= ContactList[i]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/contactList/delete/<%= ContactList[i]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %> 
            </table>
        </div>
    </div>
  </main>
<%- include ('../partials/footer'); %>